name: docker optimised multi-image CI

on:
  push:
    branches: ["release"]
    paths:
      - "nginx/**"
      - "docker-compose.yml"
  workflow_dispatch:

jobs:
  build-nginx:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Build and push multi-platform nginx image
        uses: docker/build-push-action@v5
        with:
          context: ./nginx
          file: ./nginx/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: gfwx/quicksilver-nginx:latest
